.basket {
  width: 60rem;
  background: $white;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  transform: translateX(100%);
  box-shadow: 0 10px 15px rgba(0, 0, 0, .08);
  @include bezier-transition(transform);
  z-index: map-get($z-index, 'basket');

  @include mobile {
    width: 100%;
  }
}

.rs-picker-popup {
  z-index: map-get($z-index, 'date');
}

.rs-picker-toggle-wrapper {
  width: 100%;
}

.rs-calendar-table-cell-disabled {
  opacity: 0.3;
}

.rs-input-group:not(.rs-input-group-disabled).rs-input-group-focus, .rs-input-group:focus-within {
  outline: none!important;
}

.rs-input-group {
  --rs-color-focus-ring: #e1e1e1;
  --rs-input-focus-border: #e1e1e1;
  --rs-border-primary: #e1e1e1;
}

.rs-picker-clean.rs-btn-close {
  display: none;
}

.basket-toggle {
  &:hover {
    cursor: pointer;
  }
}

.basket-list {
  padding: $m-size;
  padding-bottom: 100px;
  overflow-y: scroll;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.basket-item {
  border: 1px solid $border-color;
  display: flex;
  flex-direction: column;
  gap: 5px;
  border-radius: 5px;
  padding: 0px 5px 2px 5px;
  margin-top: $s-size;
  @include bezier-transition();
  animation: slide-up .5s ease;
}

.basket-item-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 $s-size;

  display: grid;
  grid-template-columns: 80px 1fr 80px 40px;
}

.basket-item-specs {
  display: grid;

  .spec-title {
    color: #8d8d8d;
    font-size: 1.2rem;
    display: block;
    margin-bottom: 5px;
  }
}

.basket-item-discount {
  display: flex;
  flex-direction: column;

  strike {
    color: $red
  }
}

.basket-empty {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.basket-empty-msg {
  color: $gray-10;
}

.basket-header {
  display: flex;
  align-items: center;
  position: sticky;
  top: -20px;
  background: $white;
  z-index: map-get($z-index, 'basket');
  margin-bottom: 3rem;
}


.basket-header-title {
  flex-grow: 1;
  color: $green;
}

.basket-item-img-wrapper {
  width: 75px;
  height: 75px;
  margin-right: $m-size;
  position: relative;
}

.basket-item-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.basket-item-details {
  flex-grow: 1;

  a {
    text-decoration: none;
  }
}

.basket-item-price {
  margin-right: 2rem;
}

.basket-item-name {
  margin: 1.2rem 0;
  min-width: 100px; 
  overflow-wrap: anywhere;
}

.basket-item-remove {
  align-self: center;
}

.basket-clear {
  align-self: center;
}

.basket-checkout {
  background: $white;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: $m-size;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    margin: auto;
    width: 93%;
    height: .5px;
    background: $border-color;
  }
}

.basket-checkout-button {
  text-transform: uppercase;
}

.basket-total {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.basket-total-title, .rental-duration, .basket-rental-period-title {
  font-size: $font-small;
  color: #8d8d8d;
  margin: 0;
}

.rental-duration {
  text-align: end;
}

.basket-total-amount {
  margin: $s-size 0;
}

.basket-item-control {
  display: flex;
  gap: 2px;
  flex-direction: column;
  align-items: center;
  font-size: 1.5rem;
}

.basket-control {
  width: 35px;
  flex: 1;
  padding: 5px;
  font-weight: bold;
}

.basket-control-count {
  margin: 5px;
}

.basket-item-error {
  color: $red;
}

.basket-item-availability {
  font-size: 1rem;
  color: $green;
}