.footer_head {
  padding: $s-size $xxl-size;
  background-color: $paragraph-color-primary;
  display: flex;
  justify-content: space-between;

  p, a {
    color: $white;

    span {
      font-size: calc($m-size + $xxs-size * 2);
    }
  }

  .icons {
    display: flex;
    gap: $s-size;
  }
}

.footer {
  position: relative;
  padding: $xs-size $xxl-size $l-size $xxl-size;
  background: $off-white;
  display: flex;
  gap: $s-size;
  justify-content: space-between;

  a {
    font-size: $s-size;
  }

  hr {
    margin: $xs-size 0;
  }

  @include mobile {
    padding: 0;
    padding-top: 2.5rem;
    flex-direction: column;
    text-align: center;
  }
}

.footer-logo {
  width: 15rem;
  height: 6rem;
  object-fit: contain;
}

.footer-col-1 {
  flex-basis: 40%; 

  p {
    font-size: $s-size;
    color: $gray-10;
  }

  @include mobile {
    flex-basis: none;
    order: 1;
    text-align: center;
  }
}

.footer-col-2 {
  text-align: center;
  flex-basis: 20%;

  @include mobile {
    flex-basis: none;
    order: 3;
    padding-bottom: 0;
    margin-bottom: 0;
  }
}

.footer-col-3 {
  flex-basis: 20%;
  text-align: center;

  @include mobile {
    flex-basis: none;
    order: 2;
    text-align: center;
  }
}

.footer-col-4 {
  flex-basis: 20%;
  text-align: right;

  p {
    font-size: $s-size;
    color: $gray-10;
  }

  @include mobile {
    flex-basis: none;
    order: 2;
    text-align: center;
  }
}

@include mobile {
  .footer-col-1,
  .footer-col-2,
  .footer-col-3,
  .footer-col-4 {
    width: 100%;
    margin: $s-size 0;
  }
}